__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
build/
dist/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/
*.db
*.sqlite
*.sqlite3
*.db-journal
*.db-wal
*.db-shm
.venv/
venv/
.idea/
.vscode/
.DS_Store
